In [1]:
#abecedarian series
str1="ABCDEF"
str2="ate"
for letter in str1:
    print(letter+str2,end=" ")

Aate Bate Cate Date Eate Fate

In [7]:
#right angle pattern(basic pattern)
rows=int(input())
for i in range (rows):
    for j in range(i+1):
        print(j+1,end=' ') #print("*",end=' ')
    print("\n")

5
1

1 2

1 2 3

1 2 3 4

1 2 3 4 5

In [10]:
#mirror image of right angle pattern
rows=int(input())
for i in range(rows,0,-1):
    for j in range(0,i):
        print(j+1,end=' ')
    print("\n")

5
1 2 3 4 5

1 2 3 4

1 2 3

1 2

1

In [18]:
#inverse of right angle 
rows=int(input())
for i in range(1,rows+1):
    for j in range(1,rows+1):
        if(j<i):
            print(" ",end=' ')
        else:
            print(j,end=' ')
    print("\n")

5
1 2 3 4 5

  2 3 4 5

    3 4 5

      4 5

        5

In [4]:
rows=int(input())
for i in range(1,rows+1):
    for j in range(rows+1,0,-1):
        if(j<=i):
            print(j,end=' ')
        else:
            print(' ',end=' ')
    print("\n")

5
          1

        2 1

      3 2 1

    4 3 2 1

  5 4 3 2 1

In [16]:
rows=int(input())
for i in range(rows+1,0,-1):
    for j in range(1,rows+1):
        if(j<i):
            print(' ',end=' ')
        else:
            print((j-i)+1,end=' ')
    print("\n")

5


        1

      1 2

    1 2 3

  1 2 3 4

1 2 3 4 5

In [11]:
#rhombus pattern using while 
rows=int(input())
i=1
while i<=rows:
    j=rows
    while j>i:
        print(' ',end=' ')
        j-=1
    print('*',end=' ')
    k=1
    while k<2 *(i-1):
        print(' ',end=' ')
        k+=1
    if i==1:
        print()
    else:
        print("*")
    i+=1
i=rows-1
while i>=1:
    j=rows
    while j>i:
        print(' ',end=' ')
        j-=1
    print('*',end=' ')
    k=1
    while k<2*(i-1):
        print(' ',end=' ')
        k+=1
    if i==1:
        print()
    else:
        print('*')
    i-=1

6
          *
        *   *
      *       *
    *           *
  *               *
*                   *
  *               *
    *           *
      *       *
        *   *
          *

In [14]:
#diamond using for loop
rows=int(input())
k=2*rows-2
for i in range(0,rows):
    for j in range(0,k):
        print(end=' ')
    k=k-1
    for j in range(0,i+1):
        print('*',end=' ')
    print(" ")
k=rows-2
for i in range(rows,-1,-1):
    for j in range(k,0,-1):
        print(end=' ')
    k=k+1
    for j in range(0,i+1):
        print("*",end=' ')
    print()

6
          *
         * *
        * * *
       * * * *
      * * * * *
     * * * * * *
    * * * * * * *
     * * * * * *
      * * * * *
       * * * *
        * * *
         * *
          *

In [17]:
word=str(input())
x=''
for i in word:
    x+=i
    print(x)

india
i
in
ind
indi
india

In [25]:
a=65
r=11
for i in range(0,r):
    for j in range(0,i+1):
        ch=chr(a)
        print(ch,end=' ')
        a+=1
    print('')

A
B C
D E F
G H I J
K L M N O
P Q R S T U
V W X Y Z [ \
] ^ _ ` a b c d
e f g h i j k l m
n o p q r s t u v w
x y z { | } ~    

In [44]:
a=65
r=5
m=(2*a)-2
for i in range(0,r):
    for j in range(0,m):
        print(end=' ')
    m=m-1
    for j in range(0,i+1):
        ch=chr(a)
        print(ch,end=' ')
        a+=1
    print('')

                                                                                                                                A
                                                                                                                               B C
                                                                                                                              D E F
                                                                                                                             G H I J
                                                                                                                            K L M N O

In [43]:
rows=10
for i in range(1,rows+1):
    for j in range(1,i+1):
        print(i*j,end=' ')
    print()

1
2 4
3 6 9
4 8 12 16
5 10 15 20 25
6 12 18 24 30 36
7 14 21 28 35 42 49
8 16 24 32 40 48 56 64
9 18 27 36 45 54 63 72 81
10 20 30 40 50 60 70 80 90 100

# funtions

In [46]:
#substraction using functions
def diff(a,b):
    return a-b
x=20
y=10
#operation=diff
print(diff(x,y))

10

In [47]:
#program to display a string n no of times
def fun():
    for i in range(5):
        print('hello beautiful')
fun()

hello beautiful
hello beautiful
hello beautiful
hello beautiful
hello beautiful

In [48]:
def diff(a,b):
    result=a-b
    print(result)
a=30
b=16
diff(a,b)

14

In [2]:
'''To speed up his composition of generating unpredictable rhythms, blue bandit wants the list of prime numbers available in a
range of numbers.Can you help him out?

Write a program to print all prime numbers in the interval [a,b] (a and b, both inclusive).

Note

Input 1 should be lesser than Input 2. Both the inputs should be positive. 
Range must always be greater than zero.
If any of the condition mentioned above fails, then display "Provide valid input"
Use a minimum of one for loop and one while loop
Sample Input 1:

2

15

Sample Output 1:

2 3 5 7 11 13

Sample Input 2:

8

5

Sample Output 2:

Provide valid input'''

a=int(input())
b=int(input())
if(a<=0 or b<=0 or a>=b):
    print("Provide valid input")
else:
    while(a<=b):
        if a==2:
            print(a,end=' ')
        elif(a==1):
            a+=1
            continue
        else:
            flag=0
            for i in range(2,a//2+1):
                if(a%i==0):
                    flag=1
                    break
            if flag==0:
                print(a,end=' ')
        a+=1

2
10
2 3 5 7

In [ ]:
#X-pattern
rows=int(input())
for i in range(0,rows):
    for j in range(0,rows):
        if(i==j or j==rows-i-1):
            print('*',end=' ')
        else:
            print(' ',end=' ')
    print()

In [92]:
#+-pattern
rows=int(input())
for i in range(1,rows+1):
    for j in range(1,rows+1):
        if(i==rows//2+1 or j==rows//2+1):
            print("*",end=' ')
        else:
            print(' ',end=' ')
    print()

5
    *
    *
* * * * *
    *
    *

In [99]:
rows=int(input())
for i in range(0,rows):
    for j in range(0,i):
        print(end=' ')
    for k in range(i,rows):
        print("*",end=' ')
    print()
for i in range(rows-1,-1,-1):
    for j in range(0,i):
        print(end=' ')
    for k in range(i,rows):
        print('*',end=' ')
    print()

5
* * * * *
 * * * *
  * * *
   * *
    *
    *
   * *
  * * *
 * * * *
* * * * *

In [102]:
n=int(input())
val=0
st=int(n/2+1)
if n%2!=0:
    for i in range(1,int(n/2+2)):
        for j in range(1,val+1):
            print(' ',end=' ')
        for k in range(1,st+1):
            print("*",end=' ')
        print()
        val+=1
        st-=1
    val-=2
    st+=2
    for i in range(int(n/2+2),n+1):
        for j in range(1,val+1):
            print(' ',end=' ')
        for k in range(1,st+1):
            print('*',end=' ')
        print()
        val-=1
        st+=1
else:
    print("provide accurate input")

9
* * * * *
  * * * *
    * * *
      * *
        *
      * *
    * * *
  * * * *
* * * * *