# functions - space is allocated in the memory location

In [2]:
var1='hi'
def abc():
    global var2
    var2='good morning'
    print("in the function var1 is -",var1)
abc()
print("outside function is var2-",var2)
print('var1 is-',var1)

in the function var1 is - hi
outside function is var2- good morning
var1 is- hi

In [4]:
var1='hi'
def abc():
    global var1
    var1='goodmorning'
    print("in the function var1 is -",var1)
abc()
print('outside function is var2-',var1)
var1='verygood'
print('outside function after modify-',var1)

in the function var1 is - goodmorning
outside function is var2- goodmorning
outside function after modify- verygood

In [9]:
#program to demonstrate access of var in inner & outer function
def outer_fun():
    outer_var=11
    def inner_fun():
        inner_var=22
        print('outer variable',inner_var)
    inner_fun()
    print('inner variable',outer_var)
outer_fun()

outer variable 22
inner variable 11

In [10]:
#writing a function and return its cubation format
def cube(x):
    return (x*x*x)
num=10
result=cube(num)
print('cube of',num,'=',result)

cube of 10 = 1000

In [18]:
#writing a function to understand a mismatch parameters 
def abc(x):
    print('hey hi',x)
abc(5,5)

TypeError: abc() takes 1 positional argument but 2 were given

In [16]:
#writing a function to understand a different parameters
def fun(i):
    print('orange',i)
j=10
fun(j)

orange 10

In [17]:
#writing a function to understand a expression parameters
def fun(i):
    print('orange',i)
fun(5+2*4)

orange 13

In [20]:
#program to demo key args
def display(str,int_x,float_y):
    print('the string is',str)
    print('the integer is',int_x)
    print('the float is',float_y)
display(float_y=5678.93,str='hi',int_x=35)  #it cross checks

the string is hi
the integer is 35
the float is 5678.93

In [21]:
def display(name,age,salary):
    print('Name is',name)
    print('age is',age)
    print('Salary is',salary)
a='tejaswi'
b=20
c=500000
display(salary=c,name=a,age=b)

Name is tejaswi
age is 20
Salary is 500000

# lambda functions

In [22]:
#lambda funtion
addition=lambda x,y,z:x+y+z
print('sum=',addition(10,20,30))

sum= 60

In [24]:
#program to find smaller number by lambda
def small(a,b):
    if(a<b):
        return a
    else:
        return b
add=lambda x,y:x+y
diff=lambda x,y:x-y
print("smaller of 2 numbers is",small(add(-3,-2),diff(-1,2)))

smaller of 2 numbers is -5

In [25]:
# incrementing number using lambda 
def increment(y):
    return (lambda x:x+1)(y)
a=100
print("a=",a)
print("a after incrementing")
b=increment(a)
print(b)

a= 100
a after incrementing
101

In [27]:
#program to pass a lambda func as a funct arg
def fun(f,n):
    print(f(n)) #twice(4)  triple(3)
twice=lambda x:x*2
triple=lambda x:x*3
fun(twice,4)
fun(triple,3)

8
9

In [29]:
add=lambda x,y:x+y
m_and_add=lambda x,y,z:x*add(y,z)
print(m_and_add(3,4,5))

27

In [69]:
m = lambda: sum(range(1,11))
print(m())

TypeError: <lambda>() missing 1 required positional argument: 'y'

In [45]:
def shifth(a,b):
    a,b=b,a
    print('after swap')
    print('a=',a)
    print('b=',b)
a=int(input('A=='))
b=int(input('B=='))
print('before swapping')
print('A==',a)
print('B==',b)
shifth(a,b)

A==19
B==20
before swapping
A== 19
B== 20
after swap
a= 20
b= 19

In [52]:
'''write a program to return the full name of a persom where
1st variable passed is first name 
2nd variable passed is last name '''
def name(first_name,last_name):
    s=' '
    n = first_name+s+last_name
    return n
print(name('Goshetti','tejaswi'))

Goshetti tejaswi

In [59]:
#even or odd
def eo(n):
    if a%2==0:
        return 1
    else:
        return -1
a=int(input())
flag=eo(a)
if flag==1:
    print("even")
else:
    print("odd")

5
odd

In [62]:
'''write a program to calculate SI. suppose the customer is a senior citizen. He is being offered 12% ROI; for all other 
customers, the ROI is 10%'''
p=200
r=3
age=int(input('enter age:'))
if age>=60:
    ROI=0.12
else:
    ROI=0.01
si=p*r*ROI/100
print('simple interest is',si)

enter age:56
simple interest is 0.06

In [63]:
#factorial of a number
def fact(n):
    if(n==1 or n==0):
        return 1
    else:
        return n*fact(n-1)
n=int(input())
print(fact(n))

5
120

In [1]:
#program to find the exp(x,y) using recursion function
x=int(input())
y=int(input())
def exp(x,y):
    if y==0:
        return 1
    else:
        return(x*exp(x,y-1))
print('result=',exp(x,y))

3
4
result= 81

In [7]:
#fibanocci series
x=int(input())
def fibanocci(x):
    if x<2:
        return 1
    return (fibanocci(x-1)+fibanocci(x-2))
print("fibanocci series:")
for i in range(0,x):
    print(fibanocci(i))

6
fibanocci series:
1
1
2
3
5
8

In [4]:
#tower of hanoi
n=int(input())
def hanoi(n,a,b,c):
    if(n==1):
        print(a,'to',c)
        return 
    hanoi(n-1,a,c,b) 
    print(a,'to',c)
    hanoi(n-1,b,a,c)
hanoi(n,'A','B',"C")

3
A to C
A to B
C to B
A to C
B to A
B to C
A to C

In [7]:
def hanoi(n,a,b,c):
    if n>0:
        hanoi(n-1,a,c,b)
        if a:
            c.append(a.pop())
        hanoi(n-1,b,a,c)
A=[1,2,3,4]
B=[]
C=[]
print(A,B,C)
hanoi(len(A),A,B,C)
print(A,B,C)

[1, 2, 3, 4] [] []
[] [] [1, 2, 3, 4]

In [16]:
#check  if two strings where one string contains wildcard characters
def solve(a,b):
    n,m=len(a),len(b)
    if n==0 and m==0:
        return True
    if n>1 and a[0]=='*' and m==0:
        return False
    if (n>1 and a[0]=='?')or(n!=0and m!=0 and a[0]==b[0]):
        return solve(a[1:],b[1:])
    if n!=0and a[0]=='*':
        return solve (a[1:],b)or solve (a,b[1:])
        return false
x=str(input("enter str with char:"))
y=str(input("enter str for match:"))
print("with wild char:",x)
print("without wild char:",y)
print(solve(x,y))

enter str with char:teja*
enter str for match:tejaswi
with wild char: teja*
without wild char: tejaswi
True

In [ ]:
n=int(input())
if(n<=0):
    print("Invalid Input")