In [12]:
#looping statements
#while loop
i=0
while (i<=10):
    print(i, end="\t")
    i+=1

0	1	2	3	4	5	6	7	8	9	10

In [6]:
a='hello'
print(a.upper())
b='BYE'
print(b.lower())
print(a.capitalize())

HELLO
bye
Hello

In [23]:
#write a program to add the elements between a range of (m,n)
m=3    #m=int(input())
n=9    #n=int(input())
sum=0
while(m<=n):
    sum=sum+m
    m=m+1
print("sum =",sum)

sum = 42

In [35]:
#program to find the sum of digits in a number and to check whether the number is niven's number or not
#123=>1+2+3=6    21=>2+1=3,21//3=7

n=int(input())
num=n
sum=0
while(n!=0):
    temp=n%10
    sum=sum+temp
    n=n//10
print("sum of digits :",sum)
if num%sum==0:
    d=num//sum
    print("harshed number/niven's number")
    print("division :",d)
else:
    print("not a harshed number")

123
sum of digits : 6
not a harshed number

In [37]:
#program to print reverse of a given number using while loop
#123=> rev = 3 2 1

n=int(input())
while(n!=0):
    rev=n%10
    print(rev,end=" ")
    n=n//10

123
3 2 1

In [38]:
#program to check reverse number using join keyword
num =1234
n_string=str(num)
r_num="".join(reversed(n_string))
print("reversed number is :"+r_num)

reversed number is :4321

In [40]:
#program to check reverse number using function recursion
def reverse(n):
    if len(n)==0:
        return n
    return reverse(n[1:]) +n[0]
num =1234
n_string=str(num)
r_num=reverse(n_string)
print("reversed number is :"+r_num)

reversed number is :4321

In [46]:
#program to calculate average of the first n numbers using for loop
i=1
sum=0
avg=0.0
n=int(input())
for i in range(n+1):   #for i in range(1,n+1):  (if i=1 not intialized)
    sum=sum+i
avg=sum/n
print(avg)

10
5.5

In [52]:
#program to find multiplication table using for loop
n =int(input())
for i in range(1,11):
    print(n,"*",i ,"=",n*i)

5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [54]:
#program to print leap year
for i in range(1900,2101):
    if i%4==0:
        print(i, end=" ")

1900 1904 1908 1912 1916 1920 1924 1928 1932 1936 1940 1944 1948 1952 1956 1960 1964 1968 1972 1976 1980 1984 1988 1992 1996 2000 2004 2008 2012 2016 2020 2024 2028 2032 2036 2040 2044 2048 2052 2056 2060 2064 2068 2072 2076 2080 2084 2088 2092 2096 2100

In [62]:
#series:1+(1/2)+(1/3)+(1/4)+.....(1/n)
n=int(input("enter nth term:"))
sum=0.0
for i in range(1,n+1):
    a=1.0/i
    sum=sum+a
print("the sum of 1+(1/2)+(1/3)++.....(1/"+str(n)+") is",str(sum))

enter nth term:5
the sum of 1+(1/2)+(1/3)++.....(1/5) is 2.283333333333333

In [69]:
#series:1+(1/2^2)+(1/3^2)+(1/4^2)+.....(1/n^2)
n=int(input("enter nth term:"))
sum=0.0
for i in range(1,n+1):
    a=1.0/i**2
    sum=sum+a
print("the sum of 1+(1/2^2)+(1/3^2)++.....(1/"+str(n)+"^2) is",str(sum))

enter nth term:5
the sum of 1+(1/2^2)+(1/3^2)++.....(1/5^2) is 1.4636111111111112

In [78]:
#   $$$$hi$$$$
str="hi"
print(str.center(10,'$'))

$$$$hi$$$$

In [85]:
#length of the substring from a string
str="ll"
substr="hehellhehell"
print(substr.count(str,0,len(substr)))

2

In [86]:
#location or place of word from a string
str='he is my cousin'
print(str.find("my",0,len(str)))

6

In [88]:
#syntax for left justication
#just(width[,fillchar])
str='hi'
print(str.rjust(20,'^'))

^^^^^^^^^^^^^^^^^^hi

In [89]:
#syntax for zfill(width)
str="6"
print(str.zfill(14))

00000000000006

In [93]:
str="the pormetheus haS a sHip"
print(str.title())
print(str.swapcase())  #opposite
print(list(enumerate(str)))   #index value of each letter as list

The Pormetheus Has A Ship
THE PORMETHEUS HAs A ShIP
[(0, 't'), (1, 'h'), (2, 'e'), (3, ' '), (4, 'p'), (5, 'o'), (6, 'r'), (7, 'm'), (8, 'e'), (9, 't'), (10, 'h'), (11, 'e'), (12, 'u'), (13, 's'), (14, ' '), (15, 'h'), (16, 'a'), (17, 'S'), (18, ' '), (19, 'a'), (20, ' '), (21, 's'), (22, 'H'), (23, 'i'), (24, 'p')]

In [98]:
str="rose is a beautiful flower"
for i in str:
    print(i,end=" ")

r o s e   i s   a   b e a u t i f u l   f l o w e r

In [99]:
#caeser cipher
str="india"
index=0
while index<len(str):
    letter=str[index]
    print(chr(ord(letter)+1),end=" ")
    index+=1

j o e j b

In [104]:
print(ord('i'))

105

In [108]:
#abecedarian series
str='ate'
list=['a','b','c','d','e','f']
for i in list:
    print(i+str)

aate
bate
cate
date
eate
fate

In [110]:
''' 0,0,7,6,14,12,21,18...n terms'''
n=int(input())
for i in range(0,n+1):
    print(7*i,end=" ")
    print(6*i,end=" ")

10
0 0 7 6 14 12 21 18 28 24 35 30 42 36 49 42 56 48 63 54 70 60

In [134]:
'''find the 12th position 
    13th position'''
n=int(input())
a=b=0
for i in range(0,n+1):
    if(i%2!=0):
        a=a+7
    else:
        b=b+6
if n%2!=0:
    print('{} at accordance {}'.format(n,a-7))
else:
    print('{} at accordance {}'.format(n,b-6))

13
13 at accordance 42

In [143]:
n=int(input("enter nth term:"))
list=[]
for i in range(0,n+1):
    a=7*i
    list.append(a)
    b=6*i
    list.append(b)
print(list)
#l=len(list)
num=int(input("enter position to find value:"))
print(list[num-1])

enter nth term:5
[0, 0, 7, 6, 14, 12, 21, 18, 28, 24, 35, 30]
enter position to find value:12
30

In [142]:
#print series 1 1 2 3 4 9 8 27 16 81 32 243 64 729 128 2187....
n=int(input())
for i in range(0,n+1):
    print(2**i,end=" ")
    print(3**i,end=" ")

10
1 1 2 3 4 9 8 27 16 81 32 243 64 729 128 2187 256 6561 512 19683 1024 59049

In [141]:
'''find the nth term of the series
 1 1 2 3 4 9 8 27 16 81 32 243 64 729 128 2187...'''
n=int(input())
list=[]
for i in range(0,n+1):
    a=2**i
    list.append(a)
    b=3**i
    list.append(b)
print(list)
l=len(list)
print("the nth term of the list is",list[l-1])
num=int(input("enter position to find term:"))
print(list[num-1])

8
[1, 1, 2, 3, 4, 9, 8, 27, 16, 81, 32, 243, 64, 729, 128, 2187, 256, 6561]
the nth term of the list is 6561
enter position to find term:5
4

In [144]:
'''Andy wants to go on a vacation to de-stress himself. Therefore he decides to take a trip to an island. It is given that he
has as many consecutive days as possible to rest, but he can only make one trip to the island. Suppose that the days are
numbered from 1 to N. Andy has M obligations in his schedule, which he has already undertaken and which correspond to 
some specific days. This means that ith obligation is scheduled for day Di. Andy is willing to cancel at most k of his 
obligations in order to take more holidays.

 Your task is to find out the maximum days of vacation Andy can take by canceling at most K of his obligations.
   Input Format

The first line contains an integer N, denoting the total number of days
The next line contains an integer M denoting the total number of obligations.
The next line contains an integer K denoting the largest number of obligations he could cancel 
Each line i of the M subsequent lines (where 0<=i<=M) contains an integer describing Di.
Constraints

1<=N<=10^6
1<=M<=2*10^6
1<=K<=2*10^6
1<=D[i]<=10^6

   Sample Input 1:

   10
    5
    2
    6
    9
    3
    2
    7

   Sample Output 1 :

    5

   Explanation:

    Here he could cancel his 3rd and 4th obligation which makes vacation length 5.

   Sample input 2:

    7
    2
    0
    3
    4

   Sample Output 2:

     3

   Explanation:

    Here he could not cancel any obligation since K=0, so the vacation length is 3.'''
n = int(input())
m = int(input())
k = int(input())
arr = [0] * n
for i in range(m):
   arr[i] = int(input())
ans = 0
arr.sort()
if k > 0:
   for i in range(k + 1, m + 3, 1):
       ans = max(ans, arr[i] - arr[i - k - 1] - 1)
else:
   j = 0
   while arr[j] == 0:
       j = j + 1
   count = 0
   for i in range(1, n + 1, 1):
       count += 1
       if j < n and (i == arr[j]):
           count = 0

           j += 1
       ans = max(count, ans)
print(ans)

10
5
2
6
9
3
2
7
5